* {
    margin: 0;
    padding: 0;
}


body {
    font-family: monospace;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, 0.9)), url(CODE.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.logo {
    vertical-align: middle;
}

.logo img {
    width: 45px;
    height: 45px;
    float: left;
    margin-top: 12px;
    margin-left: 12px;
}

.logo h1 {
    color: white;
    font-size: 25px;
    float: left;
    font-family: "Roboto", sans-serif;
    margin-top: 20px;
    margin-left: 15px;
}

.main_nav {
    width: 500px;
    height: 45px;   
    float: right;
    list-style: none;
    margin-top: 12px;
}

.main_nav li {
    height: 45px;
    line-height: 45px;
    display: inline-block;
}

.main_nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto", sans-serif;
    font-size: 15px;
    transition: all 0.3s ease-out;
}

.main_nav li.active a {
    background-color: cadetblue;
}

.main_nav li a:hover {
    background-color: cadetblue;
}

header {
    display: block;
}

/* clear the float */
.clearfix::before,
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

/* fix for IE */
.clearfix {
    *zoom: 1;
}

.row {
    margin: 10px;
}

.events_calendar iframe {
    width: 500px;
    height: 300px;
    float: left;
    margin-top: 100px;
    margin-left: 20px;
    opacity: 0.8;
}

/*
.events_calendar table {
    width: 500px;
    float: right;
    margin-top: 100px;
    margin-right: 20px;
    
    color: white;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    
    border-spacing: 0px;
}
*/

/*
.events_calendar th, td {
    border: 1px solid white;
}
*/

footer {
    width: 100%;
    position: fixed;
    bottom: 0px;
    padding: 50px 0px;
    
    text-align: center;
    font-family: monospace;
    color: white;
}